<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.2.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp" version="2020.5.29.2" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp-firstpass" version="2020.5.29.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Cinemachine" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.IL" version="2020.5.29.2" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UniRx" version="2020.5.29.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Unity.Postprocessing.Runtime" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.AudioModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.ClothModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.CoreModule" version="2018.4.11.2" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.PhysicsModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.TextRenderingModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UI" version="2018.4.11.2" targetFramework="net472" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UIModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.VRModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.XRModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.205.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>